/* ------ styles.css ------ */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #89898b;
}

/* Gestalte alle Pfade in der SVG */
svg path {
  fill: #032d63;
  stroke: #ffffff;
  stroke-width: 0.25;
}

/* Beim Hover ändern sich Farbe und Cursor */
svg path:hover {
  fill: #0044b5;
  transition: 0.6s;
  cursor: pointer;
}
